.DS_Store
.idea
*.log
tmp/
*.md
*.bats
*.html
*.bash
*makefile
*.out
c/*/test-framework/*
*test*.c
*.edn
project.clj
clojure/*/target/*
*test.clj
*test.cljs
*test.el
*.mod
*test.go
*.gradle
*.css
*report.js
*.xml
*.class
*Test.java
*config.js
*spec.js
java/*/bin/*
java/*/build/*
java/*/src/test/*
LICENSE
kotlin/*/gradle/*
kotlin/*/src/test/*
*.json
*.kts
*Test.kt
*gradlew
*gradlew.bat
*.jar
*.properties
*spec.lua
*test.py
*.toml
rust/*/tests/*
.*
!/.gitignore
*.bin
